/* Get Rid of focus outline on Chrome */
.item-input:focus, .status:focus, .check:focus {
    outline: none;
}

/* General Utility classes */

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
}

.float-left {
    float: left;
}

.clear {
    clear: both;
}

form {
    margin: 0px;
}

.full-width {
    width: 100%;
}

/* Containers */

.app-container {
    font-size: 0.75em;
    width: 300px;
    background: #ddd;
    margin: 40px auto;
}

.button-container {
    top:  -1px;
    left: -1px;
    height: 45px;
    width: 44px;
    overflow: hidden;
    position: absolute;
    -webkit-border-top-left-radius: 6px;
    -webkit-border-bottom-left-radius: 6px;
       -moz-border-radius-topleft: 6px;
       -moz-border-radius-bottomleft: 6px;
            border-top-left-radius: 6px;
            border-bottom-left-radius: 6px;
}

.filter-container {
    margin: 5px 15px;
    overflow: hidden;
    height: 44px;
    position: relative;
}

.filter-container li {
    text-align: center;
    display: inline-block;
    width: 85px;
    height: 100%;
}

.form-container {
    margin: 5px 15px;
}

.item-container {
    margin: 5px 15px;
    background: white;
    height: 33px;
    padding-top: 10px;
    position: relative;
}

/* Header */

.header {
    height: 45px;
    padding-top: 15px;
}

/* Gradients */

.gradient {
    /* IE10 Consumer Preview */ 
    background-image: -ms-linear-gradient(top, #fff 0%, #ddd 100%);

    /* Mozilla Firefox */ 
    background-image: -moz-linear-gradient(top, #fff 0%, #ddd 100%);

    /* Opera */ 
    background-image: -o-linear-gradient(top, #fff 0%, #ddd 100%);

    /* Webkit (Safari/Chrome 10) */ 
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(1, #ddd));

    /* Webkit (Chrome 11+) */ 
    background-image: -webkit-linear-gradient(top, #fff 0%, #ddd 100%);

    /* W3C Markup, IE10 Release Preview */ 
    background-image: linear-gradient(to bottom, #fff 0%, #ddd 100%);
}

.gradient-button {
    /* IE10 Consumer Preview */ 
    background-image: -ms-linear-gradient(top, #fff 0%, #ddd 70%);

    /* Mozilla Firefox */ 
    background-image: -moz-linear-gradient(top, #fff 0%, #ddd 70%);

    /* Opera */ 
    background-image: -o-linear-gradient(top, #fff 0%, #ddd 70%);

    /* Webkit (Safari/Chrome 10) */ 
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(0.7, #ddd));

    /* Webkit (Chrome 11+) */ 
    background-image: -webkit-linear-gradient(top, #fff 0%, #ddd 70%);

    /* W3C Markup, IE10 Release Preview */ 
    background-image: linear-gradient(to bottom, #fff 0%, #ddd 70%);
}

/* Logo */

.logo {
    background: url(sprite.png) no-repeat;
    width: 93px;
    height: 35px;
    margin-left: auto;
    margin-right: auto;
}

/* Item details*/

.items {
    min-height: 200px;
    padding-bottom: 25px;
}

.item {
    margin-left: 55px;
    width: 185px;
    height: 20px;
    margin-top: 6px;
}

input {
    font-family: inherit;
    font-size: inherit;
}

.item-input {
    height: 45px;
    padding-left: 10px;
    margin-bottom: 10px;
}

.item-edit {
    height: 41px;
    margin-top: -9px;
    margin-left: 44px;
    padding-left: 11px;
}

/* Border Utilities */

.border {
    border: 1px solid;
}

.border-gray {
    border-color: #ccc;
}

.no-border {
    border: none;
}

/* Corner utility */

.rounded-corners {
    -webkit-border-radius: 6px;
       -moz-border-radius: 6px;
            border-radius: 6px;
}

/* Box Utilities */

.white-shadow {
    -webkit-box-shadow: 0 1px 0 #fff;
       -moz-box-shadow: 0 1px 0 #fff;
            box-shadow: 0 1px 0 #fff;
}

/* Button details */

button.status {
    padding: 0px;
    margin: 0px;
    border: none;
    background: none;
    width: 90px;
    height: 100%;
}

ul.filter-container li:last-child button.status {
    width: 92px;
}

.selected button {
    background: #ddd;
}

button.delete {
    height: 16px;
    width: 16px;
    float: right;
    background: none;
    border: none;
    margin-right: 10px;
    margin-top: 4px;
}

.item-container:hover .delete {
    background:url(sprite.png) -122px 0px;
}

/* Button check details*/

.checkmark {
    background: url(sprite.png) -95px 0px;
    height: 25px;
    width: 25px;
    margin-left: 4px;
}
button.check {
    width: 100%;
    height: 100%;
    border: none;
}

button.check-filled {
    background: #6fbf44;
}

button.check-unfilled {
    background: #bbb;
}

/* Dividers */

.horizontal-divider {
    background: url(sprite.png) 0px -37px;
    width: 300px;
    height: 3px;
    margin-top: 10px;
    margin-bottom: 10px;
}

li.vertical-divider {
    position: absolute;
    height: 100%;
    width: 1px;
    background: #ccc;
}

.status-text {
    font-size: 12px;
    font-family: inherit;
    vertical-align: middle;
}

.status-count {
    font-size: 0.625em;
    color: #818181;
}